/*
 * .mpe stylesheet for docutils HTML4CSS1 writer output
 *
 * Colors: Tango palette
 Butter: #fce94f; #edd400; #c4a000;
 Chocolate: #e9b96e; #c17d11; #8f5902;
 'Orange': (0xfcaf3e, 0xf57900, 0xce5c00),
 'Plum': (0xad7fa8, 0x75507b, 0x5c3566),
 'Scarlet Red': (0xef2929, 0xcc0000, 0xa40000),
 *
 */
/* http://www.danbbs.dk/~erikoest/color2.htm
 * http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines
 */
/*@import url("docutils.css");
@import url("autowidth.css");*/
/*
@import url('lsr-tango.css');
@import url('lsr.css');
*/
@import url(zope.css);
@import url(bluelines.css);

palette.colors
{
    color: #e9b96e;/* Chocolate */
    color: #c17d11; 
    color: #8f5902;

    color: #fcaf3e;/* Orange 1 */
    color: #f57900;/* Orange 2 */
    color: #ce5c00;/* Orange 3 */

    color: #729fcf;/* Blue 1 */
    color: #3465a4;/* Blue 2 */
    color: #204a87;/* Blue 3 */

    color: #ad7fa8;/* Plum 1 */
    color: #75507b;/* Plum 2 */
    color: #5c3566;/* Plum 3 */

    color: #eeeeec;/* Aluminium 1 */ 
    color: #d3d7cf;/* Aluminium 2 */
    color: #babdb6;/* Aluminium 3 */
    color: #888a85;/* Aluminium 4 */
    color: #555753;/* Aluminium 5 */
	color: #2e3436;/* Aluminium 6 */
}

