/*
 * .mpe stylesheet for docutils HTML4CSS1 writer output
 *
 * Colors: Tango palette
 Butter: #fce94f; #edd400; #c4a000;
 Chocolate: #e9b96e; #c17d11; #8f5902;
 'Orange': (0xfcaf3e, 0xf57900, 0xce5c00),
 'Plum': (0xad7fa8, 0x75507b, 0x5c3566),
 'Scarlet Red': (0xef2929, 0xcc0000, 0xa40000),
 *
 */
/* http://www.danbbs.dk/~erikoest/color2.htm
 * http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines
 */
/*@import url("docutils.css");
@import url("autowidth.css");*/
palette.colors
{
    color: #fcaf3e;/* Orange 1 */
    color: #f57900;/* Orange 2 */
    color: #ce5c00;/* Orange 3 */

    color: #729fcf; /* Blue 1 */
    color: #3465a4; /* Blue 2 */
    color: #204a87; /* Blue 3 */

    color: #ad7fa8; /* Plum 1 */
    color: #75507b; /* Plum 2 */
    color: #5c3566; /* Plum 3 */

    color: #eeeeec;/* Aluminium 1 */ 
    color: #d3d7cf;/* Aluminium 2 */
    color: #babdb6;/* Aluminium 3 */
    color: #888a85;/* Aluminium 4 */
    color: #555753;/* Aluminium 5 */
	color: #2e3436;/* Aluminium 6 */
}

/** Box model */
* {
  /*  border: 1px solid silver;*/
}

code/* Typewriter Text */{
    font-size: 1.1em;
}

tt/* Typewriter Text */{
    font-size: 1.1em;
}

input[type=submit]
{
    float: right;
}

.document tr.form-field td.field-body
{
}
.document tr.form-field .field-body p
{
    margin-bottom: 1em;
}
.document tr.form-field .field-body :first-child
{
    margin-top: 0;
}
.problematic
{
/*	'Orange': (0xfcaf3e, 0xf57900, 0xce5c00),*/
    border-bottom: .1em solid #ef2929;
    background-color: #fce8ca;
    padding: 0 .5em;
    margin: 0 .2em;
}

.system-message
{
    border-left: .5em solid #888a85;
    padding: 0 0 0 1em;
}
.document .system-message-title
{
    border-bottom: .2em solid #d3d7cf;
    font-weight: bold;
}
.system-message.debug
{
    border-left: .5em solid #8f5902;
}
.system-message.info
{
    border-left: .5em solid #4e9a06;
}
.system-message.warning
{
    border-left: .5em solid #cc0000;
}
.system-message.error
{
    border-left: .5em solid #ef2929;
}
.system-message.critical
{
    border-left: .5em solid #fce94f;
}

hr {
    border:0;
    height: .1em;
    color:#888a85;
    background-color:#888a85;
}

/** Blue Lines */
#user-bar
{
/*    float: right;*/
}
/* jQ AC */
.ac_results 
{
    background-color: #eeeeec;
    bordeR: 1px solid #babdb6;
}
.ac_results ul  {
    padding: 0; margin: 0;
    bordeR: 1px solid #888a85;
}
.ac_results ul li.ac_over { 
    background-color: #729fcf;
    color: #eeeeec;
}
.ac_results ul li.ac_even { }
.ac_results ul li strong {}
/*
Author: Peter Parente
Date: 2008/01/22
Version: 1.0
Copyright: This stylesheet has been placed in the public domain - free to edit and use for all uses.
*/

body {
  font: 100% sans-serif;
  background: #ffffff;
  color: black;
  margin: 2em;
  padding: 0em 2em;
}

p.topic-title {
  font-weight: bold;
}

table.docinfo {
  text-align: left;
  margin: 2em 0em;
}

a[href] {
  color: #204a87;/*#436976;*/
  background-color: transparent;
}

a.toc-backref {
  text-decoration: none;
}

h1 a[href] {
  color: #204a87;/*#003a6b*/;
  text-decoration: none;
  background-color: transparent;
}

a.strong {
  font-weight: bold;
}

img {
  margin: 0;
  border: 0;
}

p {
  margin: 0.5em 0 1em 0;
  line-height: 1.5em;
}

p a:visited {
  color: #75507b;
  background-color: transparent;
}

p a:active {
  color: red;
  background-color: transparent;
}

a{
  text-decoration: none;
}
a:hover {
  border-bottom: .1em solid #3465a4;
}
/** Links */
:link {}
:visited { }
:hover { }
:active { }
:target {
    border: .1em dotted #3465a4;
}

p img {
  border: 0;
  margin: 0;
}

p.rubric {
  font-weight: bold;
  font-style: italic;
}

h1.title {
  color: #204a87;/*#003a6b*/;
  font-size: 250%;
  margin-bottom: 0em;
}

h2.subtitle {
  color: #204a87;/*#003a6b*/;
  border-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
  background-color: transparent;
  margin: 0em;
  padding-top: 0.5em;
}

h1 {
  font-size: 160%;
  margin-bottom: 0.5em;
  border-bottom: .1em solid #babdb6;
}

h2 {
  font-size: 140%;
  margin-bottom: 0.5em;
  border-bottom: .15em solid #d3d7cf;
}

h3 {
  font-size: 130%;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 105%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

dt {
  font-style: italic;
}

dd {
  margin-bottom: 1.5em;
}

div.admonition, div.note, div.tip, div.caution, div.important {
  margin: 2em 2em;
  padding: 0em 1em;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
}

div.important {
  background: transparent url('../images/important.png') 10px 2px no-repeat;
}

div.caution {
  background: transparent url('../images/caution.png') 10px 2px no-repeat;
}

div.note {
  background: transparent url('../images/note.png') 10px 2px no-repeat;
}

div.tip {
  background: transparent url('../images/tip.png') 10px 2px no-repeat;
}

div.admonition-example {
  background: transparent url('../images/tip.png') 10px 2px no-repeat;
}

div.admonition-critical-example {
  background: transparent url('../images/important.png') 10px 2px no-repeat;
}

p.admonition-title {
  font-weight: bold;
  border-bottom: .15em solid #d3d7cf;
  padding-left: 30px;
}

table.docutils {
  text-align: left;
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
  margin: 1.5em 0em;
}

table.docutils caption {
  font-style: italic;
}

table.docutils td, table.docutils th {
  padding: 0.25em 0.5em;
}

table.docutils th {
  background-color: #e8ede3;
}

div.sidebar {
  width: 33%;
  float: right;
  margin: 0em 2em;
  padding: 0em 1em;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
}

p.sidebar-title {
  margin-bottom: 0em;
  color: #204a87;/*#003a6b*/;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}

p.sidebar-subtitle {
  margin-top: 0em;
  font-style: italic;
  color: #204a87;/*#003a6b*/;
}

